@{
    ViewBag.Title = "Home Page";
}


<div class="row">

</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        @Html.Partial("_CreateForm")
    </div>

    <div class="col-sm-4">
        @Html.Partial("_JoinForm")
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-2">
        <h5>To Do</h5>
        <p>investigate polyline encoding, decoding, compression</p>
        <p>synchronization between clients - checkpoints, layers for each recieved shape - layer compression</p>
        <p>connection checking -  sending coords</p>
        <p>further development on pin protected boards (JS)</p>
    </div>
</div>
